<div class="master">
  <div class="left">
    <h1>
      Sp Library
      <br />
      Showcase
    </h1>
  </div>
  <div class="right">
    <div class="components-title">Components</div>
    <ul class="components-list">
      <li><a routerLink="/buttons">Buttons</a></li>
      <li><a routerLink="/inputs">Inputs</a></li>
      <li><a routerLink="/select">Select</a></li>
      <li><a routerLink="/switch">Switch</a></li>
      <li><a routerLink="/progress-bars">Progress bar</a></li>
      <li><a routerLink="/dividers">Dividers</a></li>
    </ul>
  </div>
</div>
