// ================================
// Region: Main content
// ================================
.master {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  background-color: black;

  h1 {
    color: white;
    text-align: center;
  }
}

.right {
  width: 40%;
  background-color: orange;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .components-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .components-list {
    padding: 0;
    margin: 0;
    align-content: start;
  }

  .components-list li {
    margin-bottom: 0.8rem;
  }

  .components-list a {
    text-decoration: none;
    color: black;
  }

  .components-list a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
  }
}
