:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.master {
  display: flex;
  width: 100%;
  height: 98vh;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  background-color: black;

  h1 {
    color: white;
    text-align: center;
  }
}

.right {
  width: 40%;
  background-color: orange;
}
