// ================================
// Region: Main content
// ================================
.master {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
}

.content {
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;

  .header p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
  }

  .desc {
    margin: 10px 0 20px;
    font-size: 16px;
  }

  .section {
    background-color: #f5f5f5;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .divider-row {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.content sp-divider {
  display: block;
  margin: 8px 0;
}
